# Gradle
.gradle/
build/
!.gradle/nonwritable/

# Local configuration file (sdk path, etc.)
local.properties

# Generated APK files
*.apk
*.aab

# Signing files
*.jks
*.keystore

# Google Services (Firebase)
google-services.json

# Android Studio
*.iml
.idea/
